PUBLIC_ANILIST_CLIENT_ID=
PUBLIC_ANILIST_RESPONSE_TYPE=code
PUBLIC_ANILIST_REDIRECT_URI=http://localhost:4321/callback
ANILIST_CLIENT_ID=
ANILIST_CLIENT_SECRET=
ANILIST_REDIRECT_URI=http://localhost:4321/callback
